.cesis-newsletter {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  min-height: 374px;
  border: 1px solid red;
  text-align: center;
  padding-top: 129px;
  padding-bottom: 39px;
}
.cesis-newsletter form {
  margin-bottom: 99px;
}
.cesis-newsletter form .cesis-newsletter__input {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 0;
  padding-top: 23px;
  padding-bottom: 23px;
  border-bottom: 2px solid #000000;
  color: #69d2e7;
  font-size: 12px;
  font-weight: 700;
  line-height: 18.88px;
  text-transform: uppercase;
  letter-spacing: 2.41px;
}
.cesis-newsletter form .cesis-newsletter__input::placeholder {
  color: #000000;
}
.cesis-newsletter .cesis-newsletter__list {
  list-style: none;
  justify-content: space-between;
}
.cesis-newsletter .cesis-newsletter__list .cesis-newsletter__list-item {
  cursor: pointer;
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.43px;
}
.cesis-newsletter .cesis-newsletter__list .cesis-newsletter__list-item:hover {
  color: #69d2e7;
}
