.footer {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  min-height: 200px;
  text-align: center;
}
.footer .container {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 40px;
}
.footer .container .footer_title {
  color: #999999;
  font-weight: 400;
  line-height: 26px;
  font-family: "Open Sans";
  margin-bottom: 30px;
}
.footer .container .footer_title span {
  color: #69d2e7;
  font-weight: 600;
}
.footer .container .footer_social {
  margin-right: 30px;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.footer .container .footer_social:last-child {
  margin-right: 0;
}
.footer .container .footer_social:hover {
  color: #69d2e7;
}
