html {
  box-sizing: border-box;
}
html ul,
html li,
html h1,
html h2,
html h3,
html h4,
html h5,
html p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
html #toTop {
  z-index: 100;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border: none;
  border-radius: 3px;
  text-align: center;
  position: fixed;
  padding: 5px;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
  color: black;
  background: #69d2e7;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
.loves-cesis {
  max-width: 1920px;
  max-height: 1080px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.loves-cesis .future-work {
  width: 1145px;
  height: 1080px;
  background-image: url(../../build/img/backgrounds/featured-work_bg.png);
  background-color: #141c26;
}
.loves-cesis .future-work .my-container {
  padding-top: 248px;
  padding-bottom: 275px;
  width: 940px;
  margin: 0 auto;
  text-align: center;
}
.loves-cesis .future-work .my-container .lovesh__first-title {
  color: #999999;
  font-weight: 700;
  line-height: 30.03px;
  text-transform: uppercase;
  letter-spacing: 2.24px;
  margin-bottom: 28px;
}
.loves-cesis .future-work .my-container .loves__second-title {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 44.05px;
  letter-spacing: -1.8px;
  margin-bottom: 43px;
}
.loves-cesis .future-work .my-container .loves__commas-img {
  margin-bottom: 49px;
}
.loves-cesis .future-work .my-container .loves__descr {
  color: #cccccc;
  font-family: 'Merriweather', serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 44.05px;
}
.loves-cesis .future-work .my-container .loves__author {
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 1.92px;
  margin-bottom: 40px;
}
.loves-cesis .future-work .my-container .pagination {
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-align: center;
}
.loves-cesis .future-work .my-container .pagination .pagination__btn {
  cursor: pointer;
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #b7b8ba;
  margin-right: 20px;
  transition: 0.5s;
}
.loves-cesis .future-work .my-container .pagination .pagination__btn:hover {
  transform: scale(1.4);
  background-color: #404449;
}
.loves-cesis .future-work .my-container .pagination .pagination__btn:hover .pagination__btn-small {
  opacity: 1;
}
.loves-cesis .future-work .my-container .pagination .pagination__btn .pagination__btn-small {
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0 auto;
  left: 3px;
  top: 3px;
  opacity: 0;
  transition: 0.5s;
}
.loves-cesis .man {
  width: 775px;
  height: 1080px;
  background-image: url(../../build/img/backgrounds/man_bg.png);
  background-color: #b0b7b6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loves-cesis .man .my-container .man-play {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffffff;
  position: relative;
  cursor: pointer;
}
.loves-cesis .man .my-container .man-play img {
  position: absolute;
  top: 40px;
  left: 45px;
}
