.menu-bar {
  max-width: 1890px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: antiquewhite;
}
.menu-bar .container {
  max-width: 1920px;
  display: flex;
}
.menu-bar .container .logo {
  cursor: pointer;
  padding: 27px 55px;
}
.menu-bar .container .menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.menu-bar .container .menu .menu__item {
  padding: 0;
  margin: 0;
  padding: 34px 70px ;
  border-left: 1px solid #404547;
  border-bottom: 4px solid #69d2e700;
}
.menu-bar .container .menu .menu__item:hover {
  border-bottom: 4px solid #69d2e7;
}
.menu-bar .container .menu .menu__item a {
  text-decoration: none;
  color: #666666;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
.menu-bar .container .menu .menu__item a:hover {
  color: #69d2e7;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
.menu-bar .container .menu .menu__item:last-child {
  padding-left: 215px;
}
