/* *{
    border: 1px solid red;
    
} */
@import "../libs/normalize.css";
html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
